.DS_Store
*.bin
*Xilinx/
.cache/
.config/
.fontconfig/
.java/
.local/
Desktop/
installer/
.XIC.lock
.Xauthority
.dbus/
.vnc/
.xsession-errors

# user persistent Vivado projects directory
projects/*
!projects/README.md

# random other artifacts
scripts/install_bin
hash
.sudo_as_admin_successful
.bash_history
